<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-mitarbeiter" >
	<tr>
		<td>
			<f:translate key="tx_mitarbeiter_domain_model_mitarbeiter.vorname" />
		</td>
		<td>
		{mitarbeiter.vorname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mitarbeiter_domain_model_mitarbeiter.nachname" />
		</td>
		<td>
		{mitarbeiter.nachname}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_mitarbeiter_domain_model_mitarbeiter.gehalt" />
		</td>
		<td>
		{mitarbeiter.gehalt}
		</td>
	</tr>
</table>
</html>
